
.all_gary{
    color: #B4B7BB !important;
}

.slng{
    background-color: #0E1924 !important;
    border-radius: 20px;
    border: none;
    color: white !important;
    padding: 8px 0px;
    width: 70%;
}

.fr_inside{
    position: relative;
}
.swap_btn{
    display: flex;
    justify-content: center;
}
.mx{
    color: #FFD500;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    right: 170px;
}

.exten_headings{
    font-size: 13px;
    font-weight: 600;
}

.slng:focus{
    box-shadow: none;
}

.selling_cor{
    width: 28px;
    height: 27px;
}

.bnb_selling{
    color: white;
}

.buying_cor{
    width: 5%;
}

.swp{
    background-color: #FFD500 !important;
    color: black;
    border-radius: 20px !important;
    width: 32%;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid black;
}

.swp:focus{
    box-shadow: none !important;
}

.block_coin{
    background-color: #0E1924 !important;
    border: none !important;
}

.block_coin:focus{
    box-shadow: none !important;
}


@media only screen and (max-width:600px) {
    .selling_cor{
        width: 26px;
        height: 25px;
    }
}