.main_main_bg{
    background-color: #0E1924 !important;
    padding: 30px 10px !important;
}


.main_maini_heading{
    color: white !important;
    font-weight: 800 !important;
    font-family: 'Poppins', sans-serif !important;
}

.main_para_heading{
    color: white !important ;
}

.meni{
    text-align: justify;
    color: #B4B7BB;
    font-size: 13px;
    line-height: 21px;
    font-family: 'Poppins', sans-serif !important;
}